.inbox-links
  .inbox-link= active_link_to t(".all"), inbox_path
  .inbox-link= active_link_to t(".comment_replies"), inbox_comment_replies_path
  .inbox-link= active_link_to t(".submission_replies"), inbox_submission_replies_path
