.circleci
.ebextensions
.elasticbeanstalk/*
.git
.gitignore
.env
.env.*
.haml-lint*
.rspec
.rubocop*

README.md
docker-compose*
lib/assets
lib/templates
log/*
!log/.keep
node_modules
tmp/*
!tmp/.keep
!tmp/pids
!tmp/sockets
spec
bin/*deploy
