.inbox-links {
  .inbox-link {
    display: inline-block;
    margin-right: $spacing-small;
    a.active {
      font-weight: $font-weight-bold;
    }
  }
}

.inbox-items {
  .inbox-item {
    background-color: $alto;
    margin-bottom: $spacing-xs;
    .subject {
      .prefix {
        display: inline-block;
        font-weight: $font-weight-bold;
      }
    }
    .body {
      .byline {
        a { text-decoration: none; }
      }
    }
  }
  .inbox-item.unread .body{
    background-color: $white-gray;
  }
}
