.inbox-links {
  .inbox-link {
    display: inline-block;
    margin-right: $spacing-small;
    a.active {
      font-weight: $font-weight-bold;
    }
  }
}

.inbox-items {
  .inbox-item {
    padding-bottom: $spacing-small;
    .subject {
      .prefix {
        display: inline-block;
        font-weight: $font-weight-bold;
      }
    }
  }
}
