.submissions-list {
  @include padding($spacing-smaller null null null);
}

.submission-hidden .submission-line2 .submission-info {
  .hide {
    font-style: italic;
  }
  .hide::after {
    font-style: normal;
  }
}

.submission-saved .submission-line2 .submission-info {
  .save {
    color: green;
  }
  .save::after {
    color: $scorpion;
  }
}

.submission {
  @include padding(null null $spacing-small null);
  .submission-info,
  .submission-comments {
    color: $scorpion;
    a {
      text-decoration: none;
      color: $scorpion;
    }
  }
  .submission-line1 {
    display: flex;
    flex-wrap: wrap;
    .submission-link a {
      text-decoration: none;
      font-size: 1.2rem;
      font-weight: $font-weight-bold;
      margin-right: $spacing-xs;
    }
    .submission-tags {
      margin-left: $spacing-xs;
    }
  }
  .submission-line2 {
    .submission-time::after {
      content: "|";
    }

    .submission-info a::after {
      @include margin(null 1px null null);
      @include padding(null null null 4px);
      content: "|";
      font-size: 1rem;
    }
    .submission-user {
      color: $off-indigo;
      a {
        text-decoration: none;
      }
    }
  }
}

.submission-body {
  border-top: $light-border;
  padding-top: $spacing-smaller;
}

.original-author-statement {
  padding-top: $spacing-smaller;
  margin-bottom: $spacing-smaller;
}

@media only screen and (max-width: 1155px) {
  .submissions-list {
    .submission {
      border-bottom: $light-border;
      margin-bottom: $spacing-smaller;
    }
  }
}

.comments-container {
  margin-top: $spacing-medium;
  .comment {
    display: grid;
    grid-template-columns: 0.8em 1em auto;
    grid-template-rows: auto 1.2em auto;
    margin-top: $spacing-small;
    grid-column-gap: $spacing-smaller;
    grid-row-gap: $spacing-smaller;
    .hide-comment,
    .upvote,
    .downvote {
      cursor: pointer;
      color: $scorpion;
      justify-self: center;
      align-self: center;
      font-family: $font-stack-mono;
      white-space: nowrap;
    }
    .upvote, .hide-comment {
      line-height: 0.9;
    }
    .hide-comment::before {
      content: "[-]";
    }
    .hidden.hide-comment::before {
      content: "[+]";
    }
    .upvote::before {
      content: "+";
    }
    .downvote::before {
      content: "-";
    }
    .downvote {
      grid-area: 2 / 1;
    }

    .upvoted {
      color: $orange;
    }
    .downvoted {
      color: $purple;
    }
    .comment-line1 {
      padding-left: $spacing-xs;
      align-self: center;
      color: $scorpion;
      line-height: 0.9;
      .link a {
        color: $scorpion;
      }
      a {
        text-decoration: none;
      }
    }
    .comment-content {
      grid-column: 2 / 4;
      grid-row: 2 / span 2;  
      .comment-reply-box {
        display: none;
        grid-column: 3 / 3;
        grid-row: 3 / 3;
      }
    }
    .comment-tree-line {
      grid-area: 3 / 1 ;
      background-color: $alto;
      width: 0.1rem;
      justify-self: center;
    }
  }

  :target {
    transition: background-color 0.5s ease-in-out;
    background-color: #f7f5a8;
    border-radius: $border-radius;
  }
}
