.submissions-list {
  @include padding($spacing-smaller null null null);
}

.submission {
  @include padding(null null $spacing-small null);
  .submission-info,
  .submission-comments {
    color: $scorpion;
    a {
      text-decoration: none;
      color: $scorpion;
    }
  }
  .submission-line1 {
    position: relative;
    .submission-link a {
      text-decoration: none;
      font-size: 1.2rem;
      font-weight: $font-weight-bold;
      margin-right: $spacing-xs;
    }
    .submission-tags {
      position: absolute;
      top: 0;
      bottom: 0;
      margin-left: $spacing-xs;
    }
  }
  .submission-line2 {
    .submission-time::after {
      content: "|";
    }

    .submission-info a::after {
      @include margin(null 1px null null);
      @include padding(null null null 4px);
      content: "|";
      font-size: 1rem;
    }
    .submission-user {
      color: $off-indigo;
      a {
        text-decoration: none;
      }
    }
  }
}

// Tinyyy screens
@media only screen and (max-width: 400px) {
  .submission-line1 {
    position: static !important;
    .submission-tags {
      position: static !important;
      margin-left: auto !important;
    }
  }
}

.submission-body {
  border-top: $light-border;
  padding-top: $spacing-smaller;
  blockquote {
    @include padding($spacing-xs null $spacing-xs $spacing-small);
    margin: 0.5rem 0 0.5rem 0.5rem;
    border-left: 0.3rem solid $alto;
    p {
      margin: 0;
    }
  }
  ul,
  ol {
    margin: 0.5rem 0 0.5rem 1rem;
    p {
      margin: 0;
    }

    ul,
    ol {
      margin: 0rem 1.5rem;
    }
  }

  ul {
    list-style-type: disc;
    ul {
      list-style-type: circle;
    }
  }

  ol {
    list-style-type: decimal;
    ol {
      list-style-type: lower-alpha;
    }
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    margin: 0.5rem 0;
  }

  pre {
    border-top: $light-border;
    border-bottom: $light-border;
    background-color: $white-gray;
    padding: $spacing-smaller 0;
  }

  code {
    font-family: "Consolas", "Menlo", monospace;
    font-size: 14px;
    background-color: $white-gray;
  }

  img {
    display: block;
    width: 600px;
    margin: 0.5rem auto;
  }
}

.original-author-statement {
  padding-top: $spacing-smaller;
  margin-bottom: $spacing-smaller;
}

@media only screen and (max-width: 1155px) {
  .submissions-list {
    .submission {
      border-bottom: $light-border;
      margin-bottom: $spacing-smaller;
    }
  }
}
