// for the love of everything that is holy someone please make this nicer
.navbar {
  @include padding(null $spacing-small null $spacing-small);
  height: 60px;
  line-height: 60px;
  box-shadow: 0px 5px 5px -4px rgba(0,0,0,0.2);

  .navbar-elements {
    width: 70%;
    margin: auto;
    max-width: 80rem;

    .navbar-brand {
      float: left;

      a { text-decoration: none; }

      .navbar-brand-logo > img {
        height: 40px;
        vertical-align: middle;
      }

      .navbar-brand-name {
        color: $gray;
        font-size: 2rem;
        vertical-align: middle;
        margin-left: $spacing-smaller;
      }
    }

    .navbar-links {
      ul {
        float: right;
        li {
          @include margin(
            null $spacing-smaller null $spacing-smaller
          );
          display: inline-block;
          a {
            text-decoration: none;
            color: $gray;
            font-variant: small-caps;

            &:hover {
              color: $action-color--alt;
            }

            &:active {
              color: $action-color;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1000px) {
  .navbar {
    padding: 0;
    height: 80px;
    line-height: 40px;
    .navbar-elements {
      width: 100%;
      .navbar-brand {
        text-align: center;
        float: none;
        .navbar-brand-logo > img {
          height: 30px;
          vertical-align: middle;
        }

        .navbar-brand-name {
          color: $gray;
          font-size: 1rem;
          vertical-align: middle;
          margin-left: $spacing-smaller;
        }
      }
      .navbar-links {
        ul {
          height: 40px;
          width: 100%;
          display: flex;
          justify-content: space-around;
          li {
            margin: 0;
            display: inline;
            text-align: center;
          }
        }
      }
    }
  }
}
