.navbar {
  @include padding(null $spacing-small null $spacing-small);
  height: 60px;
  line-height: 60px;
  box-shadow: 0px 5px 5px -4px rgba(0, 0, 0, 0.2);

  .navbar-elements {
    width: 80%;
    margin: auto;
    max-width: 80rem;

    .navbar-brand {
      float: left;

      a {
        text-decoration: none;
      }

      .navbar-brand-logo > img {
        height: 40px;
        vertical-align: middle;
      }

      .navbar-brand-name {
        color: $gray;
        font-size: 2rem;
        vertical-align: middle;
        margin-left: $spacing-smaller;
      }
    }

    .navbar-links {
      .notify {
        color: $orange;
      }
      ul {
        float: right;
        li {
          display: inline-block;
          span {
            display: inline-block;
            height: 100%;
            a {
              display: inline-block;
              text-decoration: none;
              color: $gray;
              font-variant: small-caps;
              height: 100%;
              padding: 0 $spacing-smaller;

              &:hover {
                color: $action-color--alt;
              }

              &:active {
                color: $action-color;
              }
            }
          }
        }
        .dropdown {
          .dropbtn {
            border: none;
            outline: none;
            color: $gray;
            background-color: inherit;
            font-family: inherit;
            font-weight: inherit;
            margin: inherit;
            padding: inherit;
          }
          .dropdown-content {
            display: none;
            position: absolute;
            box-shadow: $box-shadow;
            z-index: 1;
            a {
              color: $gray;
              padding: 0 1rem;
              text-decoration: none;
              display: block;
              text-align: left;
            }
            a:hover {
              background-color: $action-color--alt;
            }
          }
        }
        .dropdown:hover .dropdown-content {
          display: block;
        }
      }
    }
  }
}

@media only screen and (max-width: $mobile-cutoff) {
  .navbar {
    height: auto;
    padding: 0;
    line-height: 40px;
    .navbar-elements {
      width: 100%;
      .navbar-brand {
        text-align: center;
        float: none;
        .navbar-brand-logo > img {
          height: 30px;
          vertical-align: middle;
        }

        .navbar-brand-name {
          color: $gray;
          font-size: 1rem;
          vertical-align: middle;
          margin-left: $spacing-smaller;
        }
      }
      .navbar-links {
        height: 100%;
        width: 100%;
        display: inline-block;
        ul {
          display: flex;
          justify-content: space-around;
          float: none;
          flex-wrap: wrap;
          li {
            height: 35px;
            margin: 0;
            display: inline;
            text-align: center;
              line-height: 20px;
          }
        }
      }
    }
  }
}
