.pagination-controls {
  @include padding($spacing-small null $spacing-small null);
  .pagination-back {
    margin-right: $spacing-small;
  }
  .pagination-back > a, .pagination-forward > a {
    text-decoration: none;
    color: $congress-blue;
  }
}
