form > .field > br { display: none; }
form {
  .hint {
    @include margin(null null $spacing-smaller null);
    display: block;
  }
}

.left-hand-label {
  * {
    display: inline-block;
  }
  label:first-child {
    margin-right: $spacing-smaller;
  }
}
