fieldset {
  background-color: transparent;
  border: 0;
  margin: 0;
  padding: 0;
}

legend {
  font-weight: 600;
  margin-bottom: $spacing-small;
  padding: 0;
}

label {
  font-weight: 600;
  margin-bottom: $spacing-small;
}

input,
select,
textarea {
  font-size: 1rem;
}

.checkbox {
  vertical-align: middle;
}

[type="color"],
[type="date"],
[type="datetime"],
[type="datetime-local"],
[type="email"],
[type="month"],
[type="number"],
[type="password"],
[type="search"],
[type="tel"],
[type="text"],
[type="time"],
[type="url"],
[type="week"],
input:not([type]),
textarea {
  appearance: none;
  background-color: $white-gray;
  border: $border;
  box-sizing: border-box;
  margin-bottom: $spacing-small;
  padding: $spacing / 3;
  transition: border-color $transition;
  width: 100%;
  font-family: $font-stack;
  box-shadow: $box-shadow;
  &:focus {
    background-color: $white;
    box-shadow: 0 1px 5px rgba(0,0,0,0.2);
  }

  &:disabled {
    cursor: not-allowed;

    &:hover {
      border: $border;
    }
  }

  &::placeholder {
    color: $font-color--base;
    opacity: 0.25;
  }
}

[type="search"] {
  -webkit-appearance: textfield;
}

textarea {
  resize: vertical;
}

[type="checkbox"],
[type="radio"] {
  margin: 0 $spacing-xs;
}

[type="file"] {
  margin-bottom: $spacing-small;
  width: 100%;
}

#tag-select {
  margin-bottom: $spacing-small;
  width: 100%;
  border: $border;
  box-shadow: $box-shadow;
  scrollbar-width: none;
  -ms-overflow-style: none;
  font-family: $font-stack;
  font-style: italic;;
}

[type="checkbox"],
[type="radio"],
[type="file"],
select {
  &:focus:not(:hover) {
    outline: $focus-outline;
  }

  &:focus {
    outline: none;
  }
}

.errors {
  list-style-type: circle;
  margin-left: $spacing;
  margin-bottom: $spacing-smaller;
  .error {
    color: $red;
  }
}

.prompt {
  text-align: center;
}

.original-author-statement * {
  display: inline-flex;
  align-items: center;
  height: 1rem;
}
