fieldset {
  background-color: transparent;
  border: 0;
  margin: 0;
  padding: 0;
}

legend {
  font-weight: 600;
  margin-bottom: $spacing-small;
  padding: 0;
}

label {
  display: flex;
  font-weight: 600;
  margin-bottom: $spacing-small;
}

input,
select,
textarea {
  display: block;
  font-size: 1rem;
}

[type="color"],
[type="date"],
[type="datetime"],
[type="datetime-local"],
[type="email"],
[type="month"],
[type="number"],
[type="password"],
[type="search"],
[type="tel"],
[type="text"],
[type="time"],
[type="url"],
[type="week"],
input:not([type]),
textarea {
  appearance: none;
  background-color: $white-gray;
  border: $border;
  border-radius: $border-radius;
  box-sizing: border-box;
  margin-bottom: $spacing-small;
  padding: $spacing / 3;
  transition: border-color $transition;
  width: 100%;

  &:focus {
    background-color: $blue-light-very;
  }

  &:disabled {
    cursor: not-allowed;

    &:hover {
      border: $border;
    }
  }

  &::placeholder {
    color: $font-color--base;
    opacity: 0.25;
  }
}

[type="search"] {
  -webkit-appearance: textfield;
}

textarea {
  resize: vertical;
}

[type="checkbox"],
[type="radio"] {
  display: inline-block;
  margin-right: $spacing-small;
}

[type="file"] {
  margin-bottom: $spacing-small;
  width: 100%;
}

select {
  margin-bottom: $spacing-small;
  width: 100%;
}

[type="checkbox"],
[type="radio"],
[type="file"],
select {
  &:focus:not(:hover) {
    outline: $focus-outline;
  }

  &:focus {
    outline: none;
  }
}

.errors {
  list-style-type: circle;
  margin-left: $spacing;
  margin-bottom: $spacing-smaller;
  .error {
    color: $red;
  }
}
