html {
  background-color: $viewport-background-color;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
  margin: 0;
}

.application-container {
  @include padding(var(--spacing--small));
  width: 75%;
  margin: auto;
}

@media only screen and (max-width: 935px) {
  .application-container {
    margin-top: 175px;
  }
}
