html {
  background-color: $viewport-background-color;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
  margin: 0;
}

.application-container {
  @include padding($spacing-small);
  width: 70%;
  margin: auto;
  max-width: 80rem;
}

@media only screen and (max-width: $mobile-cutoff) {
  .application-container {
    width: 100%;
  }
}
