// Colors
$alto: #cecece;
$blue: #1565c0;
$blue-light: #3b83d5;
$blue-light-very: #f4fbff;
$congress-blue: #004e98;
$gallery: #ebebeb;
$gray: #333;
$off-indigo: #4f86c6;
$red: #ff0000;
$scorpion: #606060;
$white: #fff;
$white-gray: #fafafa;

// Font Colors
$font-color--base: $gray;
$action-color: $congress-blue;
$action-color--alt: $blue-light;
$action-color--contrast: $gallery;

// Background Colors
$base-background-color: $white;
$viewport-background-color: $base-background-color;

// Fonts!
$font-stack: 'Computer Modern Serif', "CMU Serif", system-ui, sans-serif;
$font-stack-mono: "Consolas", "Menlo", monospace;

@font-face {
  font-family: "Computer Modern Serif";
  src: font-url("cmunrm.eot") format("embedded-opentype");
  src: font-url("cmunrm.eot?#iefix") format("embedded-opentype"),
    font-url("cmunrm.woff") format("woff"),
    font-url("cmunrm.ttf") format("truetype"),
    font-url("cmunrm.svg") format("svg");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "computer-modern-serif";
  src: font-url("cmunbx.eot") format("embedded-opentype");
  src: font-url("cmunbx.eot?#iefix") format("embedded-opentype"),
    url("fonts/cmunbx.woff") format("woff"),
    url("fonts/cmunbx.ttf") format("truetype"),
    url("fonts/cmunbx.svg") format("svg");
  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: "computer-modern-serif";
  src: font-url("cmunti.eot") format("embedded-opentype");
  src: font-url("cmunti.eot?#iefix") format("embedded-opentype"),
    url("fonts/cmunti.woff") format("woff"),
    url("fonts/cmunti.ttf") format("truetype"),
    url("fonts/cmunti.svg") format("svg");
  font-style: italic;
  font-weight: normal;
}

@font-face {
  font-family: "computer-modern-serif";
  src: font-url("cmunbi.eot") format("embedded-opentype");
  src: font-url("cmunbi.eot?#iefix") format("embedded-opentype"),
    url("fonts/cmunbi.woff") format("woff"),
    url("fonts/cmunbi.ttf") format("truetype"),
    url("fonts/cmunbi.svg") format("svg");
  font-style: italic;
  font-weight: bold;
}
$font-weight-thin: thin;
$font-weight-normal: normal;
$font-weight-bold: bold;

$line-height: 1.5;
$line-height-heading: 1.2;

// Borders
$border-radius: 0.1875rem;
$border: 0.0625rem solid darken($alto, 10%);
$light-border: 1px solid $alto;

// Spacing
$spacing-medium: 2rem;
$spacing: 1.5rem;
$spacing-small: 0.75rem;
$spacing-smaller: 0.5rem;
$spacing-xs: 0.25rem;

// Focus
$focus-outline: 0.1875rem solid #{$action-color};

// Animations
$transition: 150ms ease;

// Shadow
$box-shadow: 0 1px 5px rgba(0,0,0,0.1);

// Other
$mobile-cutoff: 900px;
