%h1= "Who are we?"
.text
  %p
    Pascal is a content-oriented math community. This means that instead of focusing on solving problems, we focus on explaning and discussing them, as well as other mathematical concepts. 

  %p
    Pascal is completely free and open-source, and we do not store or collect any user data. We will never be profit-driven, have ads or track users. 
  %p
    We have a strong commitment to transparency, and have a public moderation log.
