= render "submission_list", submissions: @paginator.results_page
= render "shared/pagination_controls", paginator: @paginator
= javascript_pack_tag "submission_actions"
= javascript_pack_tag "voting"
