!!!
%html
  %head
    %meta{ :content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type" }
  %body
    %p= t(".line1", sender: @sender)
    %p= t(".line2", sender: @sender)
    %p= t(".url", url: @url)
